
notebooks/alphanum_classifier.model
notebooks/shape_classifier.model
training_data/bounding_box_X.pickle
training_data/bounding_box_y.pickle
notebooks/bounding_box.model/variables/variables.data-00000-of-00001
data/Images
data/Image Data
data/Targets
data/Target Data
.venv
.vscode
.DS_Store
.idea/workspace.xml
*.xml
*.xml
